{{! This is our customized 404 error page. }}

<h1> Page not found! </h1>

<p> (can set up <a href="https://www.smashingmagazine.com/2009/01/404-error-pages-one-more-time/" target="_blank">a custom 404 page</a> ) </p>

<p>go <a href="/acctUser"> Home</a> or see <a href="/about">About</a> for more information </a> </p>
